In [46]:
def myFilter(c, f):
    c_f = []
    for e in c:
        if f(e):
            c_f.append(e)
    return c_f

In [47]:
orders = open('/home/gautam/airflow/retail_db/orders/part-00000').read().splitlines()
orders[:10]

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE',
 '6,2013-07-25 00:00:00.0,7130,COMPLETE',
 '7,2013-07-25 00:00:00.0,4530,COMPLETE',
 '8,2013-07-25 00:00:00.0,2911,PROCESSING',
 '9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT',
 '10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT']

In [48]:
order = '1,2013-07-25 00:00:00.0,11599,CLOSED'
int(order.split(',')[2]) == 11599

True

In [49]:
customers_orders = myFilter(orders, lambda order: int(order.split(',')[2])==12431)

In [50]:
customers_orders

['3774,2013-08-16 00:00:00.0,12431,CANCELED',
 '3870,2013-08-17 00:00:00.0,12431,PENDING_PAYMENT',
 '4032,2013-08-17 00:00:00.0,12431,ON_HOLD',
 '22812,2013-12-12 00:00:00.0,12431,PENDING',
 '22927,2013-12-13 00:00:00.0,12431,CLOSED',
 '25614,2013-12-30 00:00:00.0,12431,CLOSED',
 '27585,2014-01-12 00:00:00.0,12431,PROCESSING',
 '28244,2014-01-15 00:00:00.0,12431,PENDING_PAYMENT',
 '29109,2014-01-21 00:00:00.0,12431,ON_HOLD',
 '29232,2014-01-21 00:00:00.0,12431,ON_HOLD',
 '45894,2014-05-06 00:00:00.0,12431,CLOSED',
 '46217,2014-05-07 00:00:00.0,12431,CLOSED',
 '49678,2014-05-31 00:00:00.0,12431,PENDING',
 '51865,2014-06-15 00:00:00.0,12431,PROCESSING',
 '63146,2014-02-13 00:00:00.0,12431,PENDING_PAYMENT',
 '67110,2014-07-14 00:00:00.0,12431,PENDING']

In [51]:
customer_orders_for_month = myFilter(orders,
                                     lambda order: int(order.split(',')[2])==12431
                                     and order.split(',')[1].startswith('2014-01')
                                     )
customer_orders_for_month

['27585,2014-01-12 00:00:00.0,12431,PROCESSING',
 '28244,2014-01-15 00:00:00.0,12431,PENDING_PAYMENT',
 '29109,2014-01-21 00:00:00.0,12431,ON_HOLD',
 '29232,2014-01-21 00:00:00.0,12431,ON_HOLD']

In [52]:
customer_orders_for_month = myFilter(orders,
                                     lambda order: int(order.split(',')[2])==12431
                                     and order.split(',')[1].startswith('2014-01')
                                     and order.split(',')[3] in ('PENDING_PAYMENT', 'PROCESSING')
                                     )

In [53]:
customer_orders_for_month

['27585,2014-01-12 00:00:00.0,12431,PROCESSING',
 '28244,2014-01-15 00:00:00.0,12431,PENDING_PAYMENT']

In [54]:
def myMap(c, f):
    c_t = []
    for e in c:
        c_t.append(f(e))
    return c_t

In [55]:
l = list(range(1, 10))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
myMap(l, lambda e: e*e)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
order_dates = myMap(orders, lambda order: order.split(',')[1])
order_dates[:10]

['2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0',
 '2013-07-25 00:00:00.0']

In [58]:
order_dates[0][:7]

'2013-07'

In [59]:
abc = order_dates[0][:7]

In [60]:
''.join(abc.split('-'))

'201307'

In [61]:
len(order_dates)

68883

In [62]:
len(set(order_dates))

364

In [63]:
order_tuples = myMap(orders, lambda order: (int(order.split(',')[0]), order.split(',')[1]))

In [64]:
order_tuples[:10]

[(1, '2013-07-25 00:00:00.0'),
 (2, '2013-07-25 00:00:00.0'),
 (3, '2013-07-25 00:00:00.0'),
 (4, '2013-07-25 00:00:00.0'),
 (5, '2013-07-25 00:00:00.0'),
 (6, '2013-07-25 00:00:00.0'),
 (7, '2013-07-25 00:00:00.0'),
 (8, '2013-07-25 00:00:00.0'),
 (9, '2013-07-25 00:00:00.0'),
 (10, '2013-07-25 00:00:00.0')]

In [65]:
l = [1,4,6,2,5]

In [66]:
l[1:]

[4, 6, 2, 5]

In [67]:
def myReduce(c, f):
    t = c[0]
    for e in c[1:]:
        t = f(t,e)
    return t

In [68]:
myReduce(l, lambda t, e: t + e)

18

In [69]:
myReduce(l, lambda t, e: t + e)

18

In [70]:
myReduce(l, lambda t, e: t * e)

240

In [71]:
min(7, 5)

5

In [72]:
myReduce(l, lambda t,e: min(t, e))

1

In [73]:
myReduce(l, lambda t,e: max(t, e))

6

In [74]:
order_items = open("/home/gautam/airflow/retail_db/order_items/part-00000").read().splitlines()

In [75]:
order_items_filtered = myFilter(order_items, lambda order_item: int(order_item.split(',')[1]) == 2
                                )

In [76]:
order_items_filtered

['2,2,1073,1,199.99,199.99', '3,2,502,5,250.0,50.0', '4,2,403,1,129.99,129.99']

In [77]:
order_items_subtotals = myMap(order_items_filtered, lambda order_item: float(order_item.split(',')[4]))

In [78]:
order_items_subtotals

[199.99, 250.0, 129.99]

In [79]:
sum(order_items_subtotals)

579.98

In [80]:
myReduce(order_items_subtotals, lambda t, e: min(t, e))

129.99

In [81]:
myReduce(order_items_subtotals, lambda t, e: min(t, e))

129.99

In [82]:
d = {}
d[2] = 199.99

In [83]:
d

{2: 199.99}

In [84]:
if 2 in d: d[2] = d[2] + 250.0

In [85]:
d

{2: 449.99}

In [86]:
if 4 in d: d[4] = d[4] + 100

In [87]:
d

{2: 449.99}

In [93]:
def myReduceByKey(c_p, f):
    d = {}
    for e in c_p:
        if e[0] in d:
            d[e[0]] = f(d[e[0]], e[1])
        else:
            d[e[0]] = e[1]
    return list(d.items())

In [94]:
orders_map = myMap(orders, lambda order: (order.split(',')[1], 1))

orders_map[:10]

[('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1)]

In [95]:
order_count_by_date = myReduceByKey(orders_map, lambda t, e: t + e)

In [97]:
order_count_by_date[:10]

[('2013-07-25 00:00:00.0', 143),
 ('2013-07-26 00:00:00.0', 269),
 ('2013-07-27 00:00:00.0', 202),
 ('2013-07-28 00:00:00.0', 187),
 ('2013-07-29 00:00:00.0', 253),
 ('2013-07-30 00:00:00.0', 227),
 ('2013-07-31 00:00:00.0', 252),
 ('2013-08-01 00:00:00.0', 246),
 ('2013-08-02 00:00:00.0', 224),
 ('2013-08-03 00:00:00.0', 183)]

In [98]:
order_items_map = myMap(order_items, lambda order_item: (int(order_item.split(',')[1]), float(order_item.split(',')[4])))

In [100]:
order_items_map[:10]

[(1, 299.98),
 (2, 199.99),
 (2, 250.0),
 (2, 129.99),
 (4, 49.98),
 (4, 299.95),
 (4, 150.0),
 (4, 199.92),
 (5, 299.98),
 (5, 299.95)]

In [101]:
revenue_per_order = myReduceByKey(order_items_map, lambda t, e: round(t + e, 2))

In [102]:
revenue_per_order[:10]

[(1, 299.98),
 (2, 579.98),
 (4, 699.85),
 (5, 1129.86),
 (7, 579.92),
 (8, 729.84),
 (9, 599.96),
 (10, 651.92),
 (11, 919.79),
 (12, 1299.87)]

In [103]:
myReduceByKey(order_items_map, lambda t, e: min(t, e))[:10]

[(1, 299.98),
 (2, 129.99),
 (4, 49.98),
 (5, 99.96),
 (7, 79.95),
 (8, 50.0),
 (9, 199.98),
 (10, 21.99),
 (11, 49.98),
 (12, 100.0)]

In [106]:
order_items_map = myMap(order_items, lambda order_item: (int(order_item.split(',')[1]), (float(order_item.split(',')[4]), 1)))

In [107]:
order_items_map[:10]

[(1, (299.98, 1)),
 (2, (199.99, 1)),
 (2, (250.0, 1)),
 (2, (129.99, 1)),
 (4, (49.98, 1)),
 (4, (299.95, 1)),
 (4, (150.0, 1)),
 (4, (199.92, 1)),
 (5, (299.98, 1)),
 (5, (299.95, 1))]

In [108]:
[2, [(199.99, 1), (250.0, 1), (129.99, 1)]]

[2, [(199.99, 1), (250.0, 1), (129.99, 1)]]

In [109]:
t1 = (199.99, 1)
t2 = (250.0, 1)
(t1[0] + t2[0], t1[1] + t2[1])

(449.99, 2)

In [110]:
myReduceByKey(order_items_map, lambda t, e: (round(t[0] + e[0], 2), t[1] + e[1]))[:10]

[(1, (299.98, 1)),
 (2, (579.98, 3)),
 (4, (699.85, 4)),
 (5, (1129.86, 5)),
 (7, (579.92, 3)),
 (8, (729.84, 4)),
 (9, (599.96, 3)),
 (10, (651.92, 5)),
 (11, (919.79, 5)),
 (12, (1299.87, 5))]