In [1]:
order1 = (1, '2013-07-25 00:00:00.0', 11599, 'CLOSED')

In [2]:
order2 = (2, '2013-07-25 00:00:00.0', 256, 'PENDING_PAYMENT')

In [3]:
order3 = (3, '2013-07-25 00:00:00.0', 12111, 'COMPLETE')

In [4]:
type(order1)

tuple

In [5]:
help(order1)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [6]:
order3

(3, '2013-07-25 00:00:00.0', 12111, 'COMPLETE')

In [7]:
order3.index?

Signature: order3.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [8]:
order3.index(3)

0

In [9]:
order1[1]

'2013-07-25 00:00:00.0'

In [10]:
employees = [
    (1, 'Scotty', 'Tiger', 1000.0, 'United States'),
    (2, 'Henry', 'Ford', 1250.0, 'India'),
    (3, 'Nick', 'Junior', 750.0, 'United KINGDOM'),
    (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA')
]

In [11]:
type(employees)

list

In [12]:
help(employees)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [13]:
employees.append?

Signature: employees.append(object, /)
Docstring: Append object to the end of the list.
Type:      builtin_function_or_method

In [14]:
employees.append((5, 'Donald', 'Duck', 1800.0, 'USA'))

In [15]:
employees

[(1, 'Scotty', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United KINGDOM'),
 (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [16]:
employees.insert?

Signature: employees.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [17]:
employees.insert(3, (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'))

In [18]:
employees

[(1, 'Scotty', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United KINGDOM'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [19]:
employees[3]

(6, 'Mickey', 'Mouse', 2000.0, 'Disney Land')

In [20]:
employees.pop?

Signature: employees.pop(index=-1, /)
Docstring:
Remove and return item at index (default last).

Raises IndexError if list is empty or index is out of range.
Type:      builtin_function_or_method

In [22]:
employees.pop()

(5, 'Donald', 'Duck', 1800.0, 'USA')

In [23]:
employees

[(1, 'Scotty', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United KINGDOM'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA')]

In [24]:
employees.clear?

Signature: employees.clear()
Docstring: Remove all items from list.
Type:      builtin_function_or_method

In [25]:
l1 = [1, 'Hello']

In [26]:
type(l1[1])

str

In [27]:
l = [1,2,3,4,5,4,7,3,4,2,1]

In [28]:
type(l[0])

int

In [29]:
l.count?

Signature: l.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [30]:
l.count(4)

3

In [31]:
s = '1244573421'

In [32]:
s.count('4')

3

In [33]:
employees

[(1, 'Scotty', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United KINGDOM'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA')]

In [34]:
employees.index((2, 'Henry', 'Ford', 1250.0, 'India'))

1

In [35]:
l = [1, 2, 4, 4, 5, 7, 3, 4, 2, 1]

In [36]:
l.index?

Signature: l.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [37]:
l.index(4)

2

In [38]:
l.index(4, 3)

3

In [42]:
help(l)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [43]:
l = [1,2,4,4,5,7,3,4,2,1]

In [44]:
l[:3]

[1, 2, 4]

In [45]:
l[3:6]

[4, 5, 7]

In [46]:
l[:6]

[1, 2, 4, 4, 5, 7]

In [47]:
l[3:]

[4, 5, 7, 3, 4, 2, 1]

In [50]:
employees = [
    (1, 'Scott', 'Tiger', 1000.0, 'united-states'),
    (2, 'Henry', 'Ford', 1250.0, 'India'),
    (3, 'Nick', 'Junior', 750.0, 'United Kingdom'),
    (4, 'Bill', 'Gomes', 1500.0, 'Australia')
]

employees.append((5, 'Donald', 'Duck', 1800.0, 'USA'))
employees.insert(3, (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'))
employees

[(1, 'Scott', 'Tiger', 1000.0, 'united-states'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United Kingdom'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [51]:
employees[0]

(1, 'Scott', 'Tiger', 1000.0, 'united-states')

In [52]:
employees[5]

(5, 'Donald', 'Duck', 1800.0, 'USA')

In [53]:
employees[1:2]

[(2, 'Henry', 'Ford', 1250.0, 'India')]

In [54]:
employees[1:5]

[(2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United Kingdom'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia')]

In [55]:
employees[-3:]

[(6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [56]:
l = [1,2,4,4,5,7,3,4,2,1]

In [57]:
len(l)

10

In [58]:
l[-3:]

[4, 2, 1]

In [59]:
l[-5:-2]

[7, 3, 4]

In [60]:
l = [1,2,4,4,5,7,3,4,2,1]

In [61]:
l.sort?

Signature: l.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [64]:
l.sort(reverse=True)

In [65]:
l

[7, 5, 4, 4, 4, 3, 2, 2, 1, 1]

In [66]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [67]:
set(l)

{1, 2, 3, 4, 5, 7}

In [68]:
sorted(employees)

[(1, 'Scott', 'Tiger', 1000.0, 'united-states'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United Kingdom'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (5, 'Donald', 'Duck', 1800.0, 'USA'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land')]

In [69]:
employees

[(1, 'Scott', 'Tiger', 1000.0, 'united-states'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United Kingdom'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [70]:
employees.sort()

In [71]:
employees

[(1, 'Scott', 'Tiger', 1000.0, 'united-states'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United Kingdom'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (5, 'Donald', 'Duck', 1800.0, 'USA'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land')]

In [72]:
t = (1, 'Scott', 'Tiger', 1000.0, 'united-states')

In [73]:
t[3]

1000.0

In [74]:
sorted(employees, key=lambda t:t[3], reverse=True)

[(6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (5, 'Donald', 'Duck', 1800.0, 'USA'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (1, 'Scott', 'Tiger', 1000.0, 'united-states'),
 (3, 'Nick', 'Junior', 750.0, 'United Kingdom')]

In [75]:
employees

[(1, 'Scott', 'Tiger', 1000.0, 'united-states'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United Kingdom'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (5, 'Donald', 'Duck', 1800.0, 'USA'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land')]

In [76]:
employees[1][2]

'Ford'

In [77]:
s = {1,2,2,1,2,2}

In [78]:
s[0]

TypeError: 'set' object is not subscriptable

In [79]:
employee_set = {(1, 'Scott', 'Tiger', 1000.0, 'United states'),
                (2, 'Henry', 'Ford', 1250.0, 'India'),
                (3, 'Nick', 'Junior', 750.0, 'United Kingdom')
                }

In [80]:
type(employee_set)

set

In [81]:
employee_set?

Type:        set
String form: {(2, 'Henry', 'Ford', 1250.0, 'India'), (3, 'Nick', 'Junior', 750.0, 'United Kingdom'), (1, 'Scott', 'Tiger', 1000.0, 'United states')}
Length:      3
Docstring:
set() -> new empty set object
set(iterable) -> new set object

Build an unordered collection of unique elements.

In [82]:
employee_set.add?

Docstring:
Add an element to a set.

This has no effect if the element is already present.
Type:      builtin_function_or_method

In [83]:
employee_set.add((4, 'Bill', 'Gomes', 1500.0, 'Australia'))

In [84]:
employee_set.add((5, 'Donald', 'Duck', 1800.0, 'USA'))

In [85]:
employee_set

{(1, 'Scott', 'Tiger', 1000.0, 'United states'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'United Kingdom'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')}

In [86]:
employee_set.pop?

Docstring:
Remove and return an arbitrary set element.
Raises KeyError if the set is empty.
Type:      builtin_function_or_method

In [87]:
employee_set.pop()

(3, 'Nick', 'Junior', 750.0, 'United Kingdom')

In [89]:
employee_set.remove?

Docstring:
Remove an element from a set; it must be a member.

If the element is not a member, raise a KeyError.
Type:      builtin_function_or_method

In [90]:
employee_set.remove((4, 'Bill', 'Gomes', 1500.0, 'Australia'))

In [91]:
employee_set.remove((5, 'Donald', 'Duck', 1800.0, 'USA'))

In [92]:
employees_set[(3, 'Nick', 'Junior', 750.0, 'United Kingdom')]

NameError: name 'employees_set' is not defined

In [93]:
employee_set

{(1, 'Scott', 'Tiger', 1000.0, 'United states'),
 (2, 'Henry', 'Ford', 1250.0, 'India')}

In [94]:
(2, 'Henry', 'Ford', 1250.0, 'India') in employee_set

True

In [95]:
employee_set1 = {(1, 'Scott', 'Tiger', 1000.0, 'United States'),
                 (2, 'Henry', 'Ford', 1250.0, 'India'),
                 (3, 'Nick', 'Junior', 750.0, 'Australia'),
                 (4, 'Bill', 'Gomes', 1500.0, 'USA')
                 }

In [96]:
employee_set2 = {(4, 'Bill', 'Gomes', 1500.0, 'Australia'),
                 (5, 'Donald', 'Duck', 1800.0, 'USA'),
                 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land')
                 }

In [97]:
employee_set1.union(employee_set2)

{(1, 'Scott', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'Australia'),
 (4, 'Bill', 'Gomes', 1500.0, 'Australia'),
 (4, 'Bill', 'Gomes', 1500.0, 'USA'),
 (5, 'Donald', 'Duck', 1800.0, 'USA'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land')}

In [98]:
employee_set1.intersection(employee_set2)

set()

In [99]:
employee_set1.difference(employee_set2)

{(1, 'Scott', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'Australia'),
 (4, 'Bill', 'Gomes', 1500.0, 'USA')}

In [100]:
employee_set2.differnece(employee_set1)

AttributeError: 'set' object has no attribute 'differnece'

In [101]:
db = {
    'host': 'dslab.itversity.com',
    'db_name': 'retail_db',
    'username': 'retail_fake',
    'username': 'retail_user',
    'password': 'itversity'
}

In [102]:
type(db)

dict

In [103]:
db

{'host': 'dslab.itversity.com',
 'db_name': 'retail_db',
 'username': 'retail_user',
 'password': 'itversity'}

In [105]:
db.keys()

dict_keys(['host', 'db_name', 'username', 'password'])

In [106]:
db.items()

dict_items([('host', 'dslab.itversity.com'), ('db_name', 'retail_db'), ('username', 'retail_user'), ('password', 'itversity')])

In [107]:
db.values()

dict_values(['dslab.itversity.com', 'retail_db', 'retail_user', 'itversity'])

In [108]:
db.get('host')

'dslab.itversity.com'

In [109]:
db['port']

KeyError: 'port'

In [110]:
db.get('port')

In [111]:
'host' in db

True

In [112]:
'port' in db

False

In [113]:
'itversity' in db.values()

True

In [114]:
db.pop?

Docstring:
D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

If the key is not found, return the default if given; otherwise,
raise a KeyError.
Type:      builtin_function_or_method

In [115]:
db.pop('password')

'itversity'

In [116]:
db

{'host': 'dslab.itversity.com',
 'db_name': 'retail_db',
 'username': 'retail_user'}

In [117]:
db.popitem?

Signature: db.popitem()
Docstring:
Remove and return a (key, value) pair as a 2-tuple.

Pairs are returned in LIFO (last-in, first-out) order.
Raises KeyError if the dict is empty.
Type:      builtin_function_or_method

In [118]:
db.popitem()

('username', 'retail_user')

In [119]:
open?

Signature:
open(
    file,
    mode='r',
    buffering=-1,
    encoding=None,
    errors=None,
    newline=None,
    closefd=True,
    opener=None,
)
Docstring:
Open file and return a stream.  Raise OSError upon failure.

file is either a text or byte string giving the name (and the path
if the file isn't in the current working directory) of the file to
be opened or an integer file descriptor of the file to be
wrapped. (If a file descriptor is given, it is closed when the
returned I/O object is closed, unless closefd is set to False.)

mode is an optional string that specifies the mode in which the file
is opened. It defaults to 'r' which means open for reading in text
mode.  Other common values are 'w' for writing (truncating the file if
it already exists), 'x' for creating and writing to a new file, and
'a' for appending (which on some Unix systems, means that all writes
append to the end of the file regardless of the current seek position).
In text mode, if encoding is not specified the encoding used is platform
dependent: locale.getpreferredencoding(False) is called to get the
current locale encoding. (For reading and writing raw bytes use binary
mode and leave encoding unspecified.) The available modes are:

========= ===============================================================
Character Meaning
--------- ---------------------------------------------------------------
'r'       open for reading (default)
'w'       open for writing, truncating the file first
'x'       create a new file and open it for writing
'a'       open for writing, appending to the end of the file if it exists
'b'       binary mode
't'       text mode (default)
'+'       open a disk file for updating (reading and writing)
'U'       universal newline mode (deprecated)
========= ===============================================================

The default mode is 'rt' (open for reading text). For binary random
access, the mode 'w+b' opens and truncates the file to 0 bytes, while
'r+b' opens the file without truncation. The 'x' mode implies 'w' and
raises an `FileExistsError` if the file already exists.

Python distinguishes between files opened in binary and text modes,
even when the underlying operating system doesn't. Files opened in
binary mode (appending 'b' to the mode argument) return contents as
bytes objects without any decoding. In text mode (the default, or when
't' is appended to the mode argument), the contents of the file are
returned as strings, the bytes having been first decoded using a
platform-dependent encoding or using the specified encoding if given.

'U' mode is deprecated and will raise an exception in future versions
of Python.  It has no effect in Python 3.  Use newline to control
universal newlines mode.

buffering is an optional integer used to set the buffering policy.
Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
line buffering (only usable in text mode), and an integer > 1 to indicate
the size of a fixed-size chunk buffer.  When no buffering argument is
given, the default buffering policy works as follows:

* Binary files are buffered in fixed-size chunks; the size of the buffer
  is chosen using a heuristic trying to determine the underlying device's
  "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
  On many systems, the buffer will typically be 4096 or 8192 bytes long.

* "Interactive" text files (files for which isatty() returns True)
  use line buffering.  Other text files use the policy described above
  for binary files.

encoding is the name of the encoding used to decode or encode the
file. This should only be used in text mode. The default encoding is
platform dependent, but any encoding supported by Python can be
passed.  See the codecs module for the list of supported encodings.

errors is an optional string that specifies how encoding errors are to
be handled---this argument should not be used in binary mode. Pass
'strict' to raise a ValueError exception if there is an encoding error
(the default of None has the same effect), or pass 'ignore' to ignore
errors. (Note that ignoring encoding errors can lead to data loss.)
See the documentation for codecs.register or run 'help(codecs.Codec)'
for a list of the permitted encoding error strings.

newline controls how universal newlines works (it only applies to text
mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
follows:

* On input, if newline is None, universal newlines mode is
  enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
  these are translated into '\n' before being returned to the
  caller. If it is '', universal newline mode is enabled, but line
  endings are returned to the caller untranslated. If it has any of
  the other legal values, input lines are only terminated by the given
  string, and the line ending is returned to the caller untranslated.

* On output, if newline is None, any '\n' characters written are
  translated to the system default line separator, os.linesep. If
  newline is '' or '\n', no translation takes place. If newline is any
  of the other legal values, any '\n' characters written are translated
  to the given string.

If closefd is False, the underlying file descriptor will be kept open
when the file is closed. This does not work when a file name is given
and must be True in that case.

A custom opener can be used by passing a callable as *opener*. The
underlying file descriptor for the file object is then obtained by
calling *opener* with (*file*, *flags*). *opener* must return an open
file descriptor (passing os.open as *opener* results in functionality
similar to passing None).

open() returns a file object whose type depends on the mode, and
through which the standard file operations such as reading and writing
are performed. When open() is used to open a file in a text mode ('w',
'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
a file in a binary mode, the returned class varies: in read binary
mode, it returns a BufferedReader; in write binary and append binary
modes, it returns a BufferedWriter, and in read/write mode, it returns
a BufferedRandom.

It is also possible to use a string or bytearray as a file for both
reading and writing. For strings StringIO can be used like a file
opened in a text mode, and for bytes a BytesIO can be used like a file
opened in a binary mode.
Type:      function

In [120]:
orders_file = open('/home/gautam/airflow/retail_db/orders/part-00000')

In [121]:
type(orders_file)

_io.TextIOWrapper

In [122]:
order_file.read?

Object `order_file.read` not found.

In [123]:
order_raw = orders_file.read()

In [124]:
type(order_raw)

str

In [125]:
order_raw.split('\n')[:10]

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE',
 '6,2013-07-25 00:00:00.0,7130,COMPLETE',
 '7,2013-07-25 00:00:00.0,4530,COMPLETE',
 '8,2013-07-25 00:00:00.0,2911,PROCESSING',
 '9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT',
 '10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT']

In [127]:
order_raw.splitlines?

Signature: order_raw.splitlines(keepends=False)
Docstring:
Return a list of the lines in the string, breaking at line boundaries.

Line breaks are not included in the resulting list unless keepends is given and
true.
Type:      builtin_function_or_method

In [128]:
order_raw.splitlines()[:10]

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE',
 '6,2013-07-25 00:00:00.0,7130,COMPLETE',
 '7,2013-07-25 00:00:00.0,4530,COMPLETE',
 '8,2013-07-25 00:00:00.0,2911,PROCESSING',
 '9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT',
 '10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT']